.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# Build output
.output/
dist/

# Vite
*.local

# TanStack generated
.tanstack

# Contentful config file
.contentful.json

# eslint cache
.eslintcache
