.carousel {
  position: relative;
  width: 100vw;
  max-width: var(--max-width);
  height: 35rem;
  background-color: black;
  margin: 2rem auto;
  padding: 0 var(--margin);
}

.slide {
  height: 100%;
  width: auto;
}
