.gradientContainer {
  --gradient-size: 30rem;
  z-index: 1;
  width: 100%;
  background: linear-gradient(to bottom,
      var(--dark-blue),
      var(--light-blue) 20%,
      var(--light-blue) 45%,
      var(--purple) 55%,
      var(--purple) 80%,
      var(--dark-blue));
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue);
  padding: 20rem 10rem;

  @media (--xs-viewport) {
    & {
      padding: 0 2rem;
    }
  }
}

.projectTitle {
  z-index: 2;
  color: var(--lighter-blue);
  position: absolute;
  top: 0;
  left: 8vw;

  @media (--xs-viewport) {
    & {
      left: 2rem;
    }
  }
}

.projectsContainer {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding-top: 15rem;
  color: var(--dark-blue);
}
