.container {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16rem 1fr 24rem;
  width: 100%;
  overflow: hidden;
}

.topGradient {
  background: linear-gradient(to bottom,
      var(--dark-blue),
      var(--light-blue));
}

.bottomGradient {
  background: linear-gradient(to bottom,
      var(--purple),
      var(--dark-blue));
}

.content {
  background: linear-gradient(to bottom,
      var(--light-blue),
      var(--light-blue) 40%,
      var(--purple) 60%,
      var(--purple));
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue);
  padding: 0 10vw;

  @media (--xs-viewport) {
    & {
      padding: 0 2rem;
    }
  }
}
