contentful_space_id            = "<contentful-space-id>"
operational_alarm_topic_arn    = "arn:aws:sns:us-west-2:725669362139:websites-production-alarms"
github_oidc_provider_arn       = "arn:aws:iam::725669362139:oidc-provider/token.actions.githubusercontent.com"
amplify_service_role_name      = "<physical-role-name>"
amplify_service_policy_name    = "<physical-inline-policy-name>"
amplify_compute_role_name      = "<physical-role-name>"
amplify_compute_policy_name    = "<physical-inline-policy-name>"
github_deployment_role_name    = "<physical-role-name>"
github_deployment_policy_name  = "<physical-inline-policy-name>"
amplify_5xx_alarm_name         = "<physical-alarm-name>"
amplify_latency_alarm_name     = "<physical-alarm-name>"
